body{
background-color: whitesmoke;
padding: 1rem;
margin-top: 1rem;
}

h1{
    font-family: "Avenir Next", sans-serif;
}

/* article content */
#content--about__paragraph{
    padding: 1em;
}


#content--mission__paragraph{
    padding: 1em;
}


#content--team__paragraph{
    padding: 1em;
}


/* images (that's is NOT profile) */
.pic-paragraph img{
    width: 22rem;
    height: 20rem;
}



/* the overall profile pic */
#section-profile{
    background: Gainsboro;
    padding: 1em;
}



/* profile pics as a group */
.profile-list{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

/* profile pics as an individual */
.profile img{
    background: PapayaWhip;
    width: 228px;
    height: 228px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    padding: 0.7rem;
}

