* {
    font-family: "Avenir Next", sans-serif;
}

body{
    background-color: whitesmoke;
}

main {
    padding-top: 1rem;
}

.donation--welcome,
.donation--error-container {
    margin: 0 0.5rem ;
}

p {
    margin: 1rem 0;
}

.donation--error {
    color: red;
    padding: 0.5rem 0;
    font-weight: bold;
}   

.donation--form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-auto-rows: minmax(2rem, auto);
    grid-row-gap: 0.5rem;
    background: papayawhip;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.form--group {
    display: flex;
    flex-direction: column;
}

.donation--card-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

#card-container,
#email-container,
#phone-container,
#address-container,
#city-container {
    grid-column: 1 / span 2;
}

.donation--your-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.form--title,
.donation--form__checkbox{
    grid-column: 1 / span 2;
}



.donation--form label {
    font-weight: bold;
    vertical-align: middle;
}

.donation--form label,
.donation--form input,
.donation--form select {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.donation--form input[id*="terms"],
.donation--form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.donation--form input:not([type="checkbox"]),
.donation--form select {
    border: 1px solid #ccc;
    padding: 0.6rem 0.5rem;
}

.donation--form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.donation--form__checkbox a{
    color: blue;
}

.donation--form input[type="submit"] {
    grid-column: 1 / span 2;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    max-width: 30 vwß;
}

.input-valid {
    border: 1px solid green;
    background-color: lightgreen;
}

.input-invalid {
    border: 1px solid red;
    background-color: rgb(245, 112, 112);
}

/* For tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .donation--form {
        margin: auto auto 2rem auto;
        width: 80vw;
        grid-template-columns: 10rem auto;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;
    }

    .donation--error-container {
        margin-bottom: 0.5rem;
    }

    .donation--welcome,
    .donation--error-container {
        margin: 0 2rem 0.5rem 2rem;
    }

    .donation--form label,
    .donation--form input,
    .donation--form select,
    p {
        font-size: 1.1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    #email-container,
    #phone-container,
    #address-container,
    #city-container {
        grid-column: unset;
    }

    .donation--welcome,
    .donation--error-container {
        margin: 0 8rem 1.5rem 8rem;
    }

    .donation--form label,
    .donation--form input,
    .donation--form select,
    p {
        font-size: 1.1rem;
    }
}